Unity_project/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Unity_project/Library/PackageCache/com.ptc.vuforia.engine@716a8216fe/Vuforia/Plugins/iOS/Vuforia.framework/Vuforia filter=lfs diff=lfs merge=lfs -text
Unity_project/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
